:root {
    --primary: #1a1a1a;
}

.bg-primary {
    background-color: var(--primary);
}

a.nav-link,
.navbar a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container-fluid {
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}