:root {
    --primary: #1a1a1a;
}

.bg-primary {
    background-color: var(--primary);
}

a.nav-link,
.navbar a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container-fluid {
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.logout-btn {
    background: rgb(223, 71, 89);
    color: white;
    border: 0;
    padding: 6px 12px;
    border-radius: 7px;
    cursor: pointer;
}